<h2>Login</h2>
<app-result [received] = 'parentMessage'></app-result>
<form [formGroup] ="loginForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="username">username</label>
        <input type="text" [(ngModel)] = "parentMessage" formControlName="username" />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" formControlName="password" />
    </div>
    <div>
        <button >
           <!-- <a routerLink ="/result" style="color:'#ffffff'"> -->
             <span>Login</span>
           <!-- </a>  -->
        </button>
    </div>
</form>